.card {
    margin: 20px;
}

.jumbotron {
    background: url("../images/basil-delicious-food-459469.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.recipe-title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #49966b;
}

.recipe-title:hover {
    color: #2b503f;
    text-decoration: none;
}